<div id="<%= dom_id crowd_report %>">
  <p>
    <strong>Level:</strong>
    <%= crowd_report.level %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= crowd_report.comment %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= crowd_report.location_id %>
  </p>

</div>
