<% content_for :title, "New crowd report" %>

<h1>New crowd report</h1>

<%= render "form", crowd_report: @crowd_report %>

<br>

<div>
  <%= link_to "Back to crowd reports", crowd_reports_path %>
</div>
